$id: '#sendia';
$bg-color: #FFB300;

@mixin font {
  font-family: inherit;
  font-size: .875rem;
  color: white;
  font-weight: 500;
}

@mixin item-colour {
  background-color: $bg-color !important;
}

@mixin item {
  @include item-colour();
  @include font();
  border-radius: 4px;
  border: none;
  margin: 0 1px;
}

#{$id}{
  .merge-create-btn {
    @include item();
  }
  .merge-select {
    @include font();
    color: #484848;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $bg-color;
    flex-grow: 1;
  }
  .merge-select:focus {
    outline: none;
  }
}

.sendia-input {
  @include font();
  color: #484848;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $bg-color;
  flex-grow: 1;
}

.sendia-input:focus {
  outline: none;
}

.sendia-btn {
  @include font();
  @include item-colour();
  cursor: pointer;
}

.sendia-item {
  @include item-colour();
}

.sendia-send .sendia-send-test{
  @include font();
  font-weight: 500;
  vertical-align: middle;
  position: relative;
  top: -1px;
  
}

.sendia-send::after {
  content: 'Send with Sendia';
  padding-right: 3px;
}

.sendia-send-test::after {
  content: 'Test';
  padding-right: 3px;
}

.sendia-report-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 25%;
  font-weight: 600;
}

.sendia-report-table td, .sendia-report-table th {
  border: 2px solid #efefef;
  text-align: left;
  padding: 8px;
}

.sendia-report-table tr:nth-child(even) {
  background-color: $bg-color;
  color: white;
}
